In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import time

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]

In [6]:
df = spark.createDataFrame(data=simpleData,schema=schema)
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [7]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

# approx_count_distinct()

In [12]:
# function returns the count of distinct items in a group.

# 1.
# df.select(approxCountDistinct(df['employee_name'])).collect()[0][0]
df.select(approx_count_distinct(df['employee_name'])).collect()[0][0]

9

In [9]:
# 2.
df.select(df['employee_name']).distinct().count()

9

# avg()

In [19]:
# function returns the average of values in the input column.

In [18]:
df.select(avg(df['salary'])).collect()[0][0]

3400.0

# collect_list()

In [20]:
# returns all values from an input column with duplicates.

In [23]:
df.select(collect_list(df['department'])).show(truncate=False)

+------------------------------------------------------------------------------------+
|collect_list(department)                                                            |
+------------------------------------------------------------------------------------+
|[Sales, Sales, Sales, Finance, Sales, Finance, Finance, Marketing, Marketing, Sales]|
+------------------------------------------------------------------------------------+

In [24]:
df.select(collect_list('salary')).show(truncate=False)

+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

# collect_set()

In [26]:
# returns all values from an input column with duplicate values eliminated.

In [27]:
df.select(collect_set('department')).show(truncate=False)

+---------------------------+
|collect_set(department)    |
+---------------------------+
|[Finance, Sales, Marketing]|
+---------------------------+

In [43]:
start_time = time.time()
df.select(collect_set('department')).first()[0]
print("--- %s seconds ---" % (time.time() - start_time))

--- 5.665148973464966 seconds ---

In [44]:
start_time_ = time.time()
li = []
for i in df.select('department').distinct().collect():
    li.append(i[0])
# print(li)
print("--- %s seconds ---" % (time.time() - start_time_))

--- 5.7922303676605225 seconds ---

In [60]:
df.select(collect_set('salary')).first()[0]
# df.select(collect_set('salary')).show()

[4600, 3000, 3900, 4100, 3300, 2000]

# countDistinct()

In [45]:
# returns the number of distinct elements in a columns

In [47]:
df.select(countDistinct('department')).show()

+--------------------------+
|count(DISTINCT department)|
+--------------------------+
|                         3|
+--------------------------+

In [49]:
df.select(approx_count_distinct('department')).show()

+---------------------------------+
|approx_count_distinct(department)|
+---------------------------------+
|                                3|
+---------------------------------+

In [50]:
df.select(approxCountDistinct('department')).show()

+---------------------------------+
|approx_count_distinct(department)|
+---------------------------------+
|                                3|
+---------------------------------+

In [51]:
df.select('c').distinct().count()

3

# count()

In [52]:
# returns number of elements in a column

In [53]:
df.select('department').count()

10

In [54]:
df.select('salary').count()

10

In [55]:
df.select('employee_name').count()

10

# first()

In [61]:
# returns the first element in a column when ignoreNulls is set to true, it returns the first non-null element.

In [68]:
df.select(first('employee_name').alias('First')).show()

+-----+
|First|
+-----+
|James|
+-----+

In [66]:
df.select('employee_name').first()[0]

'James'

In [69]:
df.select(first('salary').alias('First Salary')).show()

+------------+
|First Salary|
+------------+
|        3000|
+------------+

In [70]:
df.select('salary').first()[0]

3000

In [72]:
df.select(first('department').alias('DEP')).show()

+-----+
|  DEP|
+-----+
|Sales|
+-----+

In [74]:
df.select('department').first()[0]

'Sales'

# last()

In [75]:
# returns the last element in a column. when ignoreNulls is set to true, it returns the last non-null element.

In [78]:
df.select(last('employee_name').alias('LAST')).show()

+----+
|LAST|
+----+
|Saif|
+----+

In [81]:
df.select(last('salary')).show()

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

# kurtosis()

In [82]:
# returns the kurtosis of the values in a group.

In [83]:
df.select(kurtosis('salary')).show()

+-------------------+
|   kurtosis(salary)|
+-------------------+
|-0.6467803030303032|
+-------------------+

# max() & min()

In [84]:
df.select(max('salary')).show()

+-----------+
|max(salary)|
+-----------+
|       4600|
+-----------+

In [85]:
df.select(min('salary').alias('Min Sal')).show()

+-------+
|Min Sal|
+-------+
|   2000|
+-------+

# mean()

In [86]:
# returns the average of the values in a column. Alias for Avg

In [87]:
df.select(mean('salary')).show()

+-----------+
|avg(salary)|
+-----------+
|     3400.0|
+-----------+

# skewness()

In [89]:
# returns the skewness of the values in a group.

In [90]:
df.select(skewness('salary')).show()

+--------------------+
|    skewness(salary)|
+--------------------+
|-0.12041791181069571|
+--------------------+

# stddev(), stddev_samp() and stddev_pop()

In [91]:
# stddev() alias for stddev_samp.

# stddev_samp() function returns the sample standard deviation of values in a column.

# stddev_pop() function returns the population standard deviation of the values in a column.

In [92]:
df.select(stddev('salary')).show()

+-------------------+
|stddev_samp(salary)|
+-------------------+
|  765.9416862050705|
+-------------------+

In [93]:
df.select(stddev_samp('salary')).show()

+-------------------+
|stddev_samp(salary)|
+-------------------+
|  765.9416862050705|
+-------------------+

In [94]:
df.select(stddev_pop('salary')).show()

+------------------+
|stddev_pop(salary)|
+------------------+
|  726.636084983398|
+------------------+

In [96]:
df.select(stddev('salary').alias('STD'),stddev_pop('salary').alias('stddev_pop'),stddev_samp('salary').alias('stddev_samp')).show()

+-----------------+----------------+-----------------+
|              STD|      stddev_pop|      stddev_samp|
+-----------------+----------------+-----------------+
|765.9416862050705|726.636084983398|765.9416862050705|
+-----------------+----------------+-----------------+

# sum()

In [97]:
# Returns the sum of all values in a column.

In [99]:
df.select(sum('salary').alias('SUM')).show()

+-----+
|  SUM|
+-----+
|34000|
+-----+

# sumDistinct()

In [100]:
# returns the sum of all distinct values in a column.

In [101]:
df.select(sumDistinct('salary')).show()

+--------------------+
|sum(DISTINCT salary)|
+--------------------+
|               20900|
+--------------------+

# variance(), var_samp(), var_pop()

In [102]:
# variance() alias for var_samp

# var_samp() function returns the unbiased variance of the values in a column.

# var_pop() function returns the population variance of the values in a column.

In [103]:
df.select(variance('salary'),var_samp('salary'),var_pop('salary')).show()

+-----------------+-----------------+---------------+
| var_samp(salary)| var_samp(salary)|var_pop(salary)|
+-----------------+-----------------+---------------+
|586666.6666666666|586666.6666666666|       528000.0|
+-----------------+-----------------+---------------+