In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
data = [("James","Smith","USA","CA"),("Michael","Rose","USA","NY"),\
       ("Robert","Williams","USA","CA"),("Maria","Jones","USA","FL")]
columns = ["firstname","lastname","country","state"]

In [3]:
df = spark.createDataFrame(data=data,schema=columns)
df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [4]:
print(df.collect())

[Row(firstname='James', lastname='Smith', country='USA', state='CA'), Row(firstname='Michael', lastname='Rose', country='USA', state='NY'), Row(firstname='Robert', lastname='Williams', country='USA', state='CA'), Row(firstname='Maria', lastname='Jones', country='USA', state='FL')]

In [7]:
states_1 = [state.state for state in df.select('state').collect()]
states_1

['CA', 'NY', 'CA', 'FL']

In [14]:
states_2 = df.rdd.map(lambda x: x[3]).collect()
states_2

['CA', 'NY', 'CA', 'FL']

In [17]:
from collections import OrderedDict
res = list(OrderedDict.fromkeys(states_2))
print(res)

['CA', 'NY', 'FL']

In [19]:
states_3 = df.rdd.map(lambda x: x.state).collect()
states_3

['CA', 'NY', 'CA', 'FL']

In [21]:
states_4 = df.select('state').collect()
states_4

[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]

In [24]:
states_5 = df.select('state').rdd.flatMap(lambda x:x).collect()
states_5

['CA', 'NY', 'CA', 'FL']

In [28]:
states_6 = list(df.select('state').toPandas()['state'])
states_6

['CA', 'NY', 'CA', 'FL']

In [31]:
df1 = df.select('state','firstname').toPandas()
print(list(df1['state']))
print(list(df1['firstname']))

['CA', 'NY', 'CA', 'FL']
['James', 'Michael', 'Robert', 'Maria']